@import "tailwindcss";

@keyframes Pulse {
  0%, 100% {
    opacity: 1;
    transform: scale(1);
  }

  10%, 30%, 50%, 70%, 90% {
    opacity: 0;
    transform: scale(1.1);
  }

  20%, 40%, 60%, 80% {
    opacity: 1;
    transform: scale(1.15);
  }
}

img#Logo {
  animation: Pulse 2.5s linear forwards;
}

@keyframes marquee {
  0% {
    /* Start completely off-screen to the right */
    transform: translateX(100vw);
  }
  100% {
    /* End completely off-screen to the left */
    transform: translateX(-100%);
  }
}

p {
  animation: marquee 15s linear infinite;
}